---
import NavBar from "../components/NavBar";
import HeroSection from "../components/HeroSection";
import SecondSection from "../components/SecondSection";
import StatsSection from "../components/StatsSection";
import TestimonialsSection from "../components/TestimonialsSection";
import ContactSection from "../components/ContactSection";
import CTASection from "../components/CTASection";
import Footer from "../components/Footer";
import '../styles/global.css';
---

<html lang="es">
  <head>
    <title>Solventium - Inicio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-white flex flex-col">
    <NavBar pathname="/" client:load />
    <main class="pt-20">
      <HeroSection client:load />
    </main>
    <section class="bg-[#007CD4]">
      <SecondSection client:load />
    </section>
    <StatsSection client:load />
    <TestimonialsSection client:load />
    <CTASection client:load />
    <ContactSection client:load />
    <Footer client:load />
  </body>
</html>
